@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,700;0,800;1,800&family=Playfair+Display:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@900&display=swap");

:root {
  --clr-primary-200: #293133;
  --clr-primary-400: #212729;

  --clr-secondary-200: #16f568;
  --clr-secondary-400: #11b44d;
  --clr-accent: #e8443c;

  --font-primary: white;
  --font-secondary: black;

  --ff-primary: "Open Sans", sans-serif;
  --ff-secondary: "Playfair Display", serif;
}

/* RESET CSS */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: var(--ff-primary);
  font-weight: 400;
  font-size: 10px;
  line-height: 1.5;
}

body,
h1,
h2,
h3,
p {
  margin: 0;
}

h1,
h2,
h3 {
  color: var(--font-secondary);
  font-family: var(--ff-secondary);
  line-height: 1;
}

h2,
h3,
p {
  margin-bottom: 1rem;
}

/* MAIN STYLING */
/* Navbar */
.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--clr-secondary-400);
  font-family: var(--ff-secondary);
  font-weight: 700;
}

.branding {
  margin: 1rem;
  margin-left: 2rem;
  margin-bottom: 0.5rem;
}

.nav-links ul {
  margin: 0;
  padding: 0;
  display: flex;
  margin-right: 1rem;
}

.nav-links li {
  list-style: none;
  white-space: nowrap;
}

.links {
  text-decoration: none;
  color: var(--font-primary);
  padding: 0.75rem;
  display: block;
  font-size: 1.2rem;
}

.signup-links {
  position: relative;
  padding: 0.75rem;
  bottom: 0.5rem;
  color: var(--font-primary);
  text-decoration: none;
}

.nav-links li :hover {
  color: var(--font-secondary);
}

.toggle-button {
  position: absolute;
  top: 2rem;
  right: 2rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 1.8rem;
  height: 1.2rem;
}

.toggle-button .bar {
  height: 0.2rem;
  width: 100%;
  background-color: white;
  border-radius: 0.05rem;
}

.align-signup ul {
  flex-direction: row;
  margin-top: 0.8rem;
}

.hide {
  display: none;
}

.pacman-loader {
  margin: 2rem;
  margin-top: 3rem;
}

.pacman-loader-initial {
  margin: auto;
  margin-top: 25%;
}

@media (max-width: 431px) {
  .toggle-button {
    display: flex;
  }

  .nav-links {
    display: flex;
    width: 100%;
  }

  .nav-container {
    flex-direction: column;
    align-items: flex-start;
  }

  .nav-links ul {
    width: 100%;
    flex-direction: column;
    margin: auto;
  }

  .nav-links li {
    text-align: center;
  }

  .nav-links li,
  .links {
    padding: 0.5rem 0.5rem;
  }

  .signup-links {
    position: relative;
    padding: 0.5rem;
    top: 0.6rem;
    font-size: 1.2rem;
    color: var(--font-primary);
    text-decoration: none;
  }

  .logout-btn {
    font-size: 1.2rem;
  }

  .align-container {
    flex-direction: row;
  }

  .align-signup ul {
    flex-direction: row;
    margin-top: 0.8rem;
  }

  .pacman-loader-initial {
    margin: auto;
  }
}

/* General styles */
.form-container {
  display: flex;
  flex-direction: column;
  margin: 2rem;
  font-size: 2rem;
  max-width: 40rem;
}

select,
input {
  width: 100%;
  min-height: 2rem;
  font-family: "Open Sans", sans-serif;
  background-color: transparent;
  border: 1px solid var(--clr-secondary-200);
  border-radius: 1rem;
  margin-bottom: 0.4rem;
  padding: 0.5rem;
}

button {
  width: 100%;
  min-height: 2.8rem;
  border-radius: 1.8rem;
  padding-bottom: 0.4rem;
  border: transparent;
  background-color: var(--clr-secondary-400);
  color: var(--font-primary);
  font-family: var(--ff-secondary);
  font-weight: 700;
  font-size: 2rem;
  margin-top: 0.5rem;
}

button:hover {
  transition-duration: 0.1s;
  background-color: var(--clr-secondary-200);
  cursor: pointer;
}

.red {
  background-color: var(--clr-accent);
}

.username {
  margin: 1rem;
  margin-top: 0.5rem;
  font-family: var(--ff-primary);
  font-weight: 700;
  font-size: 1rem;
  color: var(--clr-secondary-400);
}

.button-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 3rem;
}

.button-container button {
  font-size: 1rem;
  max-width: 45%;
}

.text {
  font-size: 1rem;
}

/* New meal page styles */
.suggestion-container {
  display: flex;
  flex-direction: column;
  margin: 2rem;
  margin-top: 3.5rem;
  font-size: 2rem;
  max-width: 40rem;
}

.meal-spec {
  display: flex;
  font-size: 1.2rem;
  justify-content: space-between;
  align-items: center;
  margin-top: 1.5rem;
}

h3 {
  font-family: var(--ff-primary);
  font-weight: 300;
}

.serve-img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 40rem;
  border-top-left-radius: 3.5rem;
  border-top-right-radius: 3.5rem;
}

.headline {
  margin-bottom: 3rem;
}

/* Favorites page styles */
.fav-container {
  display: flex;
  flex-direction: column;
  margin-top: 1.8rem;
  font-size: 2rem;
  max-width: 40rem;
}

#fav-img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 40rem;
  border-top-left-radius: 3.5rem;
  border-top-right-radius: 3.5rem;
}

.fav-headline {
  margin: 2rem;
  color: var(--font-secondary);
}

.fav-spec {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--clr-secondary-400);
  position: relative;
  bottom: auto;
  font-size: 1rem;
  border-bottom-left-radius: 3.5rem;
  border-bottom-right-radius: 3.5rem;
  margin-bottom: 2rem;
}

.fav-subline {
  margin: 2rem;
  color: var(--font-primary);
}

/* Meal detail pages styles */
.meal-details-container {
  margin: 2rem;
}

.meal-details-img {
  width: 100%;
  border-bottom-left-radius: 3.5rem;
  border-bottom-right-radius: 3.5rem;
}

.meal-details-headline {
  font-size: 2.2rem;
  margin-bottom: 2rem;
}

.meal-details-spec {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1rem;
}

.meal-details-text-headline {
  font-size: 1.5rem;
  margin-top: 3rem;
  margin-bottom: 2rem;
}

/* Shopping list styles */
.shopping-list-container {
  margin: 2rem;
}

.shopping-list-headline {
  font-size: 3rem;
  margin-bottom: 3rem;
}

.margin {
  margin-top: 0rem;
}

.delete-list-btn {
  max-width: 20%;
  font-size: 0.8rem;
  padding-top: 0.35rem;
}

.positioning {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  margin-left: -2rem;
  font-weight: 700;
}

.shopping-list-btn {
  padding-top: 0.35rem;
}

/* Signup and login page */
.signup-container {
  margin: 2rem;
  margin-top: 20%;
  max-width: 400px;
}

.signup-headline {
  font-size: 3.5rem;
  margin-bottom: 2.5rem;
}

.labels {
  font-size: 1rem;
}

.login-link {
  font-size: 1rem;
  color: var(--clr-secondary-400);
}

.subline-signup-info {
  font-size: 1.5rem;
  font-family: var(--ff-primary);
  font-weight: 300;
  margin-bottom: 4rem;
}

/* Profile page */
.profile-container {
  margin: 2rem;
  font-family: var(--ff-primary);
}

.goal-container {
  display: flex;
  flex-direction: column;
}

.radio-input {
  width: 1.5rem;
  accent-color: var(--clr-secondary-200);
  border: var(--clr-secondary-400);
}

.alignment {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.profile-margin {
  margin-bottom: 2rem;
}

.calorie-demand {
  font-size: 1.5rem;
}

hr {
  margin-bottom: 1rem;
}

.ban-btn {
  font-size: 1.5rem;
}

.error-message {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  padding: 1rem;
  font-size: 1rem;
  background-color: var(--clr-accent);
  color: var(--font-primary);
}

/* Home page */
.hero-section {
  min-height: 40rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("../src/assets/hero-img.png");
}

.hero-content {
  width: 80%;
}

.hero-headline {
  font-size: 4rem;
  color: var(--font-primary);
  margin-bottom: 2rem;
}

.hero-subline {
  font-size: 2rem;
  font-family: var(--ff-primary);
  font-weight: 400;
  color: var(--font-primary);
  margin-bottom: 3rem;
}

.section-one {
  margin: 2rem;
  margin-bottom: 5rem;
  margin-top: 3rem;
}

.section-one p {
  font-size: 1rem;
}

.section-one-headline {
  font-size: 3rem;
  margin-bottom: 3rem;
}

.white {
  color: var(--font-primary);
}

.section-one-subline {
  font-size: 1.5rem;
}

.section-one-align {
  margin-bottom: 3rem;
}

.about-section {
  background-color: var(--clr-secondary-400);
  margin-bottom: -2rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  color: var(--font-primary);
}

.about-section-align {
  margin: 2rem;
}

.about-section-text {
  font-size: 1rem;
  margin-bottom: 3rem;
}

.contact-information {
  font-size: 1rem;
}

.my-link {
  color: var(--font-primary);
}

@media (min-width: 432px) {
  .nav-links li,
  .links {
    padding-top: 1rem;
    font-size: 1.1rem;
  }

  .space {
    margin-right: 1rem;
  }

  .logout-btn {
    font-size: 1.1rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-bottom: 0.3rem;
    margin-bottom: 0.5rem;
  }

  .signup-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    margin-top: 10%;
  }

  .hero-section {
    min-height: 55rem;
  }

  .hero-content {
    max-width: 60rem;
  }

  .hero-content button {
    min-height: 3.5rem;
    border-radius: 2rem;
    max-width: 80%;
  }

  .hero-headline {
    font-size: 10rem;
    margin-bottom: 2.5rem;
  }

  .hero-subline {
    font-size: 4rem;
    margin-bottom: 6rem;
  }

  .desktop-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .pacman-loader {
    position: absolute;
    right: 40.9rem;
    top: 22rem;
  }

  .serve-img {
    border-bottom-left-radius: 3.5rem;
    border-bottom-right-radius: 3.5rem;
    max-height: 50rem;
    margin-left: 4rem;
  }

  .suggestion-container {
    position: absolute;
    left: 30%;
    top: 60%;
    max-width: 37rem;
    background-color: var(--clr-secondary-400);
    padding: 2rem;
    border-radius: 2rem;
    color: var(--font-secondary);
  }

  .white-desktop {
    color: var(--font-primary);
  }

  .section-one {
    display: flex;
    flex-direction: column;
    max-width: 40rem;
    margin: 0 auto;
    margin-top: 5rem;
    margin-bottom: 3rem;
  }

  .about-section {
    display: flex;
    justify-content: center;
  }

  .about-section-align {
    display: flex;
    justify-content: space-between;
  }

  .about-desktop {
    max-width: 20rem;
    margin-right: 5rem;
  }

  .meal-details-desktop {
    display: flex;
    flex-direction: row;
  }

  .meal-details-img {
    max-width: 40%;
    border-top-left-radius: 3.5rem;
    border-top-right-radius: 3.5rem;
    margin: 4rem;
  }

  .meal-details-container {
    margin: 4rem 4rem 4rem 0rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .fav-container {
    display: flex;
    flex-direction: row;
    min-width: 100%;
    margin-top: 0rem;
    white-space: nowrap;
  }

  .fav-container-align {
    margin: 2.5rem 2rem;
    min-width: 20%;
    max-width: 20%;
    display: inline-block;
    height: 50rem;
  }

  .fav-headline {
    margin: 0rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
    white-space: pre-wrap;
  }

  #fav-img {
    max-height: 32rem;
  }

  .shopping-list-container {
    max-width: 40rem;
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 4rem;
    margin-bottom: 5rem;
  }

  .shopping-list-headline {
    font-size: 4rem;
  }

  .profile-container {
    max-width: 40rem;
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 4rem;
    margin-bottom: 5rem;
  }

  .delete-list-btn {
    font-size: 1rem;
  }
}
